/* comentario */

body {

  background: linear-gradient(90deg, rgba(7,133,43,1) 0%, rgba(244,244,244,1) 50%, rgba(255,0,0,1) 100%);
  position: absolute;
  padding: 0;
  margin: 0;
      
      /*background-color: rgb(244, 191, 255);
      background-repeat: no-repeat;
      background-size: cover;
      color:red;*/
      cursor: url('../mexicanchile.png'), auto;  z-index: 0;
}


#parrafo1, #adios, img, #parrafo2, #parrafo3, #parrafo4, #text {
  position: relative;
  z-index: 50;
}

#parrafo1 {
   color: rgb(2, 88, 16);
   font-family: 'Arial';
   font-size: 30px;
   font-weight: bold;
   margin: 0 100px;
}

div.background-image {
   position: fixed;
   z-index: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-image: url(../css/mexicancybercafe.jpg);
   background-repeat: round;
   background-size: 100%;
   cursor: url(../mexicanchile.png), auto;
}


h1{
  color:white;
}
h2{
  color:white;
}

#parrafo1{
  color:rgb(2, 88, 16);
  font-family:'Arial';
  font-size: 30px;
  font-weight:bold;


  /* width:10vw;
  para modificar la variable de los tamaños en la página
  width:10vh; */

}

#parrafo2{
  color:rgb(255, 255, 255);
  font-family:'Comic Sans MS';
  font-size: 50px;
  width: 50%;
  text-decoration: line-through;
  font-style:italic;
  margin-left: 10%;

}

.borde{
  border:10px dotted green;
}

#fondo {
  z-index: 9999;
  position: fixed;
  left: 33%;
  width: 33%;


}

img{
width: 50%;

}

#fantasma {/* desaparece un elemento la principio*/
  display:none;
}

#opacity {
  filter:opacity(90%);
  width: 45%;
  height: 40%;
}

#playme {
  width: 50%;
  height: 50%;
}

#control {
  position: fixed;
  right: 10%;
  width: 20%;
  z-index: 45;
}
#adios {
  background-image: url(200.gif);
  height: 400px;
  width: 532px;
  display: inline-block;
}

#adios:hover {
  background-image: url("cartman.gif");

}


#another {background-image: url("jail.gif");
  height: 57%;
  width: 25%;

}

#another:hover {
  background-image: url("senors.gif");

}

#parrafo3{
  width: 50%;
  margin-left: 10%;

}


#parrafo4{
  width: 50%;
  margin-right: 10%;

}

#text{
  color:rgb(255, 255, 255);
  font-family:'Comic Sans MS';
  filter:opacity(90%);
  font-size: 20px;
  width: 50%;
  font-style:bold;
  margin-left: 5%;
  z-index: 55;

}
/* #fantasma:hover {
filter:blur(10px);
}

span:hover + #fantasma { /*aparece algo en hover */
{display: block;
}
